HUGGINGFACE_API_TOKEN=""      # optional: Use model from free HuggingFace serverless API
DEFAULT_MODEL_NAME=mistralai/Mistral-7B-Instruct-v0.2    # AzureOpenAI: gpt-35-turbo-16k or gpt-4o, HuggingFace: "HuggingFaceH4/zephyr-7b-beta", "mistralai/Mistral-7B-Instruct-v0.2", "codellama/CodeLlama-34b-Instruct-hf", "meta-llama/Meta-Llama-3-8B-Instruct", "microsoft/Phi-3-mini-4k-instruct" or "mistralai/Mixtral-8x7B-Instruct-v0.1"